@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --clr-accent: #ff0072;
    --clr-accent-light: #ff82ba;
    --clr-accent-dark: #d2005e;
    --neutral-700: #343434;
    --neutral-400: #aaa;
    --neutral-300: #c4c4c4;
    --gradient-accent: linear-gradient(120deg, var(--clr-accent), var(--clr-accent-light));
    --gradient-gray: linear-gradient(120deg, #575757, #818181);
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --ff-russo-one: 'Russo One', sans-serif;
    --wrapper-width: 1200px;
    --wrapper-padding: 50px;
    --wrapper-padding-resp: 25px;
}

/**
    -------- Normalizing styles --------
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-ubuntu);
}

main {
    overflow: hidden;
}

section {
    padding-block: 50px;
}

li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/**
    -------- Repeatable elements --------
*/

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: var(--clr-accent);
    transition: .2s color ease-in-out;
}

.btn {
    position: relative;
    display: inline-block;
    font-family: var(--ff-ubuntu);
    /* font-weight: 500; */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 14px rgba(0 0 0 / 0.1);
}

.section-header {
    margin-bottom: 4rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--clr-accent-light);
    margin-bottom: .2em;
}

.section-subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--neutral-700);
    margin-bottom: .75em;
}

.socials {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: var(--neutral-300);
}

.socials a {
    cursor: pointer;
    padding: .4rem;
}

.socials a i {
    transition: .2s all ease;
}

.socials a:hover i {
    transform: scale(1.2);
}

.socials a:hover i.fa-vk {
    color: #0077ff;
}

.socials a:hover i.fa-instagram {
    color: var(--clr-accent);
}

.socials a:hover i.fa-telegram-plane {
    color: #75ade6;
}

.socials a + a {
    margin-left: .7em;
}

/**
    -------- Utility classes --------
*/

.scroll-lock {
    overflow: hidden;
}

.wrapper {
    max-width: calc(var(--wrapper-width) + (var(--wrapper-padding) * 2));
    padding: 0 var(--wrapper-padding);
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.columns-1 {
    grid-template-columns: 1fr;
    gap: 8rem;
}

.columns-2 {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.reverse-order {
    order: 2;
}

.small {
    font-size: .9rem;
    padding: .70em 2em;
}

.large {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.1em 2em;
}

.clr-accent {
    background-color: var(--clr-accent);
}

.clr-white {
    background-color: #fff;
    color: var(--clr-accent);
}

.no-bg {
    background: unset;
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align-last: left;
}

/**
    -------- Topbar header styling --------
*/

.topbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-block: 1.5rem;
    transition: .2s all ease-in-out;
    z-index: 999;
}

.topbar.sticky {
    background: var(--clr-accent);
    padding-block: 1rem;
    color: #fff;
}

.topbar.sticky .logo span {
    color: inherit;
}

.topbar.sticky .btn.clr-accent {
    background-color: #fff;
    color: var(--clr-accent);
    transition: .2s all ease-in-out;
}

.topbar.sticky .nav-element:hover {
    color: #fff;
}

.topbar.sticky .nav-element:hover::after {
transform: scaleX(1);
}

.topbar .wrapper {
    --wrapper-width: 1600px;
}

.topbar-nav {
    display: flex;
    align-items: center;
}

.topbar-nav ul {
    margin-right: 3rem;
}

.topbar-nav ul li + li {
    margin-left: 1.25rem;
}

.nav-element {
    position: relative;
    font-weight: 500;
    transition: .2s color ease-in-out;
}

.nav-element::after {
    content: '';
    position: absolute;
    left: 0;
    top: 115%;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: .2s all ease-in-out;
}

.nav-element:hover {
    color: var(--clr-accent);
}

.burger {
    display: none;
    position: relative;
    height: 1em;
    width: .875em;
    font-size: 1.5rem;
}

.burger:hover {
    transform: unset;
    box-shadow: unset;
}

.burger > * {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .2s opacity ease;
}

.op-1 {
    opacity: 1;
}

/**
    -------- Main section styling --------
*/

.main-section {
    position: relative;
    display: flex;
    min-height: 85vh;
}

.main-section .wrapper {
    margin-block: auto;
    margin-inline: 4.5% 0;
}

.main-image {
    position: absolute;
    top: 3rem;
    left: 40%;
    width: auto;
    height: 90%;
    transform: rotate(-7deg);
    z-index: -1;
}

.main-content {
    position: relative;
    max-width: 38rem;
}

.main-title {
    text-transform: uppercase;
    font-size: 2.625rem;
    margin-bottom: .6em;
}

.main-subtitle {
    /* max-width: 37rem; */
    font-weight: 500;
    line-height: 1.75em;
    /* color: var(--neutral-700); */
    margin-bottom: 65px;
} 

/**
    -------- Advantages section styling --------
*/

.advantages {
    padding-top: 0;
    transform: translateY(-50px);
}

.advantage-item {
    max-width: 324px;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradient-gray);
    border-radius: 10px;
    padding: 0 25px;
    padding-block: 45px;
    text-align: center;
    color: #fff;
    transition: .2s all ease-in-out;
}

.advantage-item:nth-child(even) {
    background: var(--gradient-accent);
}

.advantage-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 14px rgba(0 0 0 / 0.1);
}

.advantage-item i {
    font-size: 5.25rem;
}

.advantage-title {
    font-size: 1.625rem;
    margin-top: 2em;
    margin-bottom: .75em;
}

.advantage-title span {
    color: var(--clr-accent);
}

.advantage-content {
    font-weight: lighter;
    line-height: 1.69em;
}

/**
    -------- About section styling --------
*/

.about-us {
    position: relative;
    margin-bottom: 255px;
}

.about-wrapper {
    margin-left: 50%;
}

.about-image {
    position: absolute;
    top: -200px;
    right: 47%;
    width: auto;
    height: 180%;
    transform: rotate(12deg);
    z-index: -1;
}

.about-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--neutral-700);
    margin-bottom: 1em;
}

.about-title span {
    color: var(--clr-accent);
}

.about-content {
    max-width: 600px;
    font-weight: lighter;
    line-height: 1.825rem;
    margin-bottom: 2rem;
}

.img-container {
    display: none;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-block: 3rem;
    overflow: hidden;
}

.about-image-responsive {
    width: inherit;
}

/**
    -------- How to section styling --------
*/

.how-to--content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-image {
    width: 100%;
    height: auto;
    margin: auto;
}

.step-counter {
    font-family: var(--ff-russo-one);
    font-size: 4.5rem;
    color: var(--neutral-300);
}

.step-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--neutral-700);
    margin-bottom: 1em;
}

.step-description {
    font-weight: lighter;
    line-height: 1.75rem;
}

.step-description a {
    text-decoration: underline;
}

/**
    -------- Team section styling --------
*/

.team {
    position: relative;
}

.team-image {
    position: absolute;
    top: 20%;
    left: 55%;
    width: auto;
    height: 70%;
    /* transform: rotate(12deg); */
    z-index: -1;
}

.team-wrapper {
    display: flex;
}

.team-container {
    max-width: 760px;
    display: grid;
    grid-template-columns: repeat(2, min(310px, 100%));
    gap: 2rem;
}

.team-member {
    max-width: inherit;
    background: #fff;
    box-shadow: 0 0 14px rgba(0 0 0 / 0.07);
    padding: 1.5rem;
    padding-top: .25rem;
    border-radius: 10px;
    transition: .2s all ease;
}

.team-member:hover {
    box-shadow: 0 0 24px rgba(0 0 0 / 0.07);
}

.team-member:hover .member--img-box img {
    transform: scale(1.15) translateX(5px);
}

.member--img-box {
    position: relative;
    width: 185px;
    height: 220px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0 0 140rem 140rem;
    overflow: hidden;
}

.member--img-box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background: var(--gradient-accent);
}

.member--img-box img {
    position: absolute;
    bottom: 0;
    width: 105%;
    height: auto;
    transition: .2s all ease;
}

.member-header {
    margin-top: .75rem;
}

.member-subtitle {
    font-size: .875rem;
    font-weight: 500;
    color: var(--neutral-400);
}

.member-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--neutral-700);
    margin-top: .2em;
    margin-bottom: 1.25em;
}

.member-description {
    font-weight: lighter;
    color: var(--neutral-700);
    line-height: 1.5em;
}

/**
    -------- Testimonials section styling --------
*/

.testimonials {
    position: relative;
    margin-bottom: 10%;
}

.testimonials-image {
    position: absolute;
    width: 70%;
    height: auto;
    top: 16rem;
    left: -20%;
    transform: rotate(12deg);
    z-index: -1;
}

.testimonials-container {
    max-width: 850px;
    max-height: 670px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: stretch;
    margin-left: auto;
}

.testimonials-container .testimonial + .testimonial {
    margin-left: 2rem;
}

.testimonial {
    max-width: 400px;
    background: var(--gradient-gray);
    box-shadow: 0 0 16px rgba(0 0 0 / 0.1);
    border-radius: 10px;
    padding: 20px 40px;
    color: #fff;
}

.testimonial:not(:nth-last-child(1)) {
    margin-bottom: 2rem;
}

.testimonial--img-box {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.testimonial--img-box img {
    width: auto;
    height: 120%;
}

.testimonial-name {
    margin-block: 1.1em;
}

.testimonial-quote {
    position: relative;
    font-weight: lighter;
    font-style: italic;
    line-height: 1.5em;
}

.testimonial-quote p {
    position: relative;
}

.quote {
    position: absolute;
    top: -1.5em;
    left: -1em;
    width: 65px;
    height: 65px;
    transform: rotate(180deg);
    opacity: .6;
}

/**
    -------- Pricing section styling --------
*/

.pricing-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 325px;
    min-height:  605px;
    border-radius: 10px;
    padding: 45px 30px;
    background-color: #fff;
    color: var(--neutral-700);
}

.pricing-item.border {
    border: 3px solid var(--clr-accent);
}

.pricing-item.filled-gray {
    background: var(--gradient-gray);
    color: #fff;
}

.pricing-item.filled-accent {
    background: var(--gradient-accent);
    color: #fff;
}

.item-header {
    margin-bottom: 2.25rem;
}

.item-title {
    font-size: 1.4rem;
    margin-bottom: .8em;
}

.item-price {
    font-size: 4rem;
    font-weight: 500;
    background: var(--gradient-accent);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.pricing-item.filled-accent .item-price {
    color: #fff;
}

.item-price span {
    font-size: 1.75rem;
}

.item-subtitle {
    font-size: .875rem;
    font-weight: bold;
    color: var(--neutral-400);
}

.pricing-item.filled-gray .item-subtitle {
    color: #fff;
}

.pricing-item.filled-accent .item-subtitle {
    color: #fff;
}

.item-list {
    position: relative;
    font-weight: 500;
}

.item-list.unincluded {
    color: var(--neutral-400);
    margin-top: 1.4rem;
}

.pricing-item.filled-gray .item-list.unincluded {
    color: var(--neutral-300);
}

.item-list.unincluded::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--neutral-400);
    transform: translateY(-.7rem);
}

.item-list li {
    display: flex;
}

.item-list li + li {
    margin-top: .6em;
}

.icon-box {
    width: .875rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .2rem;
    margin-right: .8rem;
}

.item-list li .icon {
    font-size: .875rem;
    color: var(--clr-accent);
}

.pricing-item.filled-accent .item-list li .icon {
    color: #fff;
}

.item-list.unincluded .icon {
    color: var(--neutral-400);
}

.pricing-item .btn {
    margin-top: 3rem;
}

/**
    -------- Pricing section styling --------
*/

.countdown {
    position: relative;
    background-image: url(img/about-image.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.countdown::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.countdown .wrapper {
    position: relative;
}

.countdown .section-header {
    margin-bottom: unset;
}

.countdown .section-subtitle {
    color: inherit;
}

.countdown-timer {
    max-width: 1020px;
    display: flex;
    justify-content: space-between;
    font-size: 1.75rem;
    font-weight: bold;
    font-style: italic;
}

.timer-el {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-el .el-value {
    font-size: 5rem;
}

/**
    -------- Utility classes --------
*/

.contact-us,
.form-container .section-subtitle {
    color: #fff;
}

.form-container {
    max-width: 1020px;
    grid-template-columns: 2fr 1fr;
    background: var(--gradient-accent);
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    overflow: hidden;
}

.form-container .content {
    padding: 2rem 3rem;
}

.content p {
    line-height: 1.8em;
}

.form {
    grid-template-columns:repeat(10, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.grid .fname-item {
    grid-column: 1 / 6;
}

.grid .lname-item {
    grid-column: 6 / 11;
}

.grid .number-item {
    grid-column: 1 / 4;
}

.grid .car-item {
    grid-column: 4 / 11;
}

.grid .btn {
    grid-column: 1 / 11;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    border-radius: 5px;
}

.input-box label {
    font-weight: 500;
}

.input-field {
    width: 100%;
    padding: .8em 1em;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 0.75em;
    outline: none;
}

.input-field::placeholder {
    color: var(--neutral-400);
}

.image {
    height: 100%;
    background-image: url(img/20191009211915.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: inherit;
    transition: .2s all ease-in-out;
}

/**
    -------- Footer styling --------
*/

.footer {
    background: var(--neutral-700);
    color: #e0e0e0;
    padding-block: 2rem;
}

.footer .main-content {
    display: flex;
    justify-content: space-between;
    max-width: unset;
    margin-bottom: 2rem;
}

.logo-block {
    color: #fff;
}

.content-block {
    max-width: 15rem;
}

.content-block .title {
    font-size: 1.25rem;
    margin-bottom: 1em;
    color: #fff;
}

.link-list {
    display: flex;
    flex-direction: column;
    gap: .75em;
    font-weight: 300;
}

.link-list li a:hover {
    text-decoration: underline;
    color: #fff;
}

.email-tel {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.footer .bottom-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
    font-weight: 300;
}

.designed-by a {
    font-style: italic;
}

/**
    -------- Media queries --------
*/

@media (max-width: 1540px) {
    .topbar {
        color: #fff;
    }

    .main-section {
        background-image: url(img/main-image.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        color: #fff;
    }

    .main-section::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .main-image {
        visibility: hidden;
        opacity: 0;
    }

    .main-section .wrapper {
        margin-inline: 0;
    }

    .about-image {
        height: 150%;
    }

    .testimonials {
        margin-bottom: unset;
    }

    .testimonials-image {
        display: none;
    }

    .testimonials-container {
        max-width: unset;
        max-height: unset;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: unset;
        margin-left: unset
    }

    .testimonial:not(:nth-last-child(1)) {
        margin-bottom: unset;
    }
}

@media (max-width: 1360px) {
    .about-image {
        top: -100px;
        height: 120%;
    }

    .team {
        background-color: var(--neutral-700);
        color: #fff;
    }

    .team-image {
        display: none;
    }

    .team-container {
        max-width: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        margin-inline: 10%;
    }
}

@media (max-width: 1100px) {
    .responsive {
        position: fixed;
        top: 0;
        right: -120%;
        width: 260px;
        height: 100vh;
        flex-direction: column;
        padding: min(14vh, 8em) 0;
        transition: .2s right ease-in-out;
    }

    .responsive.active {
        right: 0;
    }

    @supports (backdrop-filter: blur(5px)) {
        .responsive {
            background: rgb(52 52 52 / .7);
            backdrop-filter: blur(5px);
        }
    }

    .topbar-nav.responsive .btn.clr-accent {
        background-color: var(--clr-accent);
        color: #fff;
        transition: .2s all ease-in-out;
    }

    .topbar-nav ul {
        margin-right: unset;
    }

    .topbar-nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
    .topbar-nav ul li + li {
        margin-left: unset;
    }

    .burger {
        display: block;
    }

    .advantages .wrapper {
        flex-direction: column;
    }

    .advantages .wrapper .advantage-item + .advantage-item {
        margin-top: 45px;
    }

    .advantage-item {
        max-width: 490px;
        min-height: unset;
    }

    .about-us {
        background-color: var(--neutral-700);
        color: #fff;
        margin-bottom: unset;
    }

    .dark .section-subtitle {
        color: #fff;
    }

    .about-title {
        color: #fff;
    }

    .about-image {
        visibility: hidden;
        opacity: 0;
    }

    .about-wrapper {
        margin-left: unset;
    }

    .img-container {
        display: flex;
    }

    .pricing .flex {
        flex-direction: column;
    }

    .pricing-item + .pricing-item {
        margin-top: 3rem;
    }
}

@media (max-width: 950px) {
    .testimonials-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonials-container .testimonial + .testimonial {
        margin-left: unset;
    }

    .testimonial:not(:nth-last-child(1)) {
        margin-bottom: 2rem;
    }

    .team-container {
        gap: 2rem;
        margin-inline: unset;
    }

    .form-container {
        grid-template-columns: 1fr;
    }

    .image {
        height: 375px;
        order: -1;
    }

    .footer .main-content {
        flex-direction: column;
        gap: 3rem;
    }
}

@media (max-width: 900px) {
    .main-content {
        max-width: 31rem;
    }

    .main-title {
        font-size: 2rem;
    }

    .main-subtitle {
        font-size: 0.85rem;
        margin-bottom: 45px;
    }

    .reverse-order {
        order: unset;
    }

    .grid {
        gap: 4rem;
    }
    .form-container.grid {
        gap: unset;
    } 
    .form-container .grid {
        gap: 1rem;
    }

    .columns-2 {
        grid-template-columns: 1fr;
    }

    .step-image {
        width: 75%;
    }
}

@media (max-width: 780px) {
    .team-container {
        grid-template-columns: 75%;
        justify-content: center;
    }

    .countdown-timer {
        flex-direction: column;
        align-items: center;
    }

    .timer-el + .timer-el {
        margin-top: .75em;
    }

    .timer-el .el-value {
        font-size: 5rem;
    }
    
}

@media (max-width: 680px) {
    .form {
        grid-template-columns: 1fr;
    }

    .grid .fname-item {
        grid-column: unset;
    }

    .grid .lname-item {
        grid-column: unset;
    }

    .grid .number-item {
        grid-column: unset;
    }

    .grid .car-item {
        grid-column: unset;
    }

    .grid .btn {
        grid-column: unset;
    }
}

@media (max-width: 550px) {
    .about-image-responsive {
        width: auto;
        height: inherit;
    }

    .team-container {
        grid-template-columns: 100%;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .section-title {
        font-size: 1.25rem;
    }

    .section-subtitle {
        font-size: 1.75rem;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .wrapper {
        padding: 0 var(--wrapper-padding-resp);
    }

    .main-title {
        font-size: 1.75rem;
    }

    .advantages {
        transform: translateY(-25px);
    }

    .img-container {
        justify-content: end;
    }

    .grid {
        gap: 2rem;
    }

    .step-image {
        width: 100%;
    }

    .step-title {
        font-size: 1.45rem;
    }

    .testimonial {
        padding: 20px 20px;
    }

    .quote {
        left: -.4em;
    }

    .form-container .content {
        padding: 2rem 1rem;
    }

    .image {
        height: 275px;
    }

    .logo-block .logo {
        font-size: 2rem;
    }
}

@media (max-height: 500px) {
    .topbar {
        padding-block: 0.5rem;
    }

    .main-title {
        margin-block: 0.6em;
    }

    .main-subtitle {
        margin-bottom: 35px;
    }

    .advantages {
        transform: translateY(-25px);
    }
}