@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('assets/css/normalize.css');

:root {
    --clr-accent: #ff0072;
    --clr-accent-light: #ff82ba;
    --clr-accent-dark: #d2005e;
    --neutral-700: #343434;
    --neutral-400: #aaa;
    --neutral-300: #c4c4c4;
    --gradient-accent: linear-gradient(120deg, var(--clr-accent), var(--clr-accent-light));
    --gradient-gray: linear-gradient(120deg, #575757, #818181);
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --ff-russo-one: 'Russo One', sans-serif;
    --wrapper-width: 1200px;
    --wrapper-padding: 50px;
    --wrapper-padding-resp: 25px;
}

/**
    -------- Repeatable elements --------
*/

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: var(--clr-accent);
    transition: .2s color ease-in-out;
}

.btn {
    position: relative;
    display: inline-block;
    font-family: var(--ff-ubuntu);
    /* font-weight: 500; */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 14px rgba(0 0 0 / 0.1);
}

.section-header {
    margin-bottom: 4rem;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--clr-accent-light);
    margin-bottom: .2em;
}

.section-subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--neutral-700);
    margin-bottom: .75em;
}

.socials {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: var(--neutral-300);
}

.socials a {
    cursor: pointer;
    padding: .4rem;
}

.socials a i {
    transition: .2s all ease;
}

.socials a:hover i {
    transform: scale(1.2);
}

.socials a:hover i.fa-vk {
    color: #0077ff;
}

.socials a:hover i.fa-instagram {
    color: var(--clr-accent);
}

.socials a:hover i.fa-telegram-plane {
    color: #75ade6;
}

.socials a + a {
    margin-left: .7em;
}

/**
    -------- Utility classes --------
*/

.scroll-lock {
    overflow: hidden;
}

.wrapper {
    max-width: calc(var(--wrapper-width) + (var(--wrapper-padding) * 2));
    padding: 0 var(--wrapper-padding);
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.columns-1 {
    grid-template-columns: 1fr;
    gap: 8rem;
}

.columns-2 {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.reverse-order {
    order: 2;
}

.small {
    font-size: .9rem;
    padding: .70em 2em;
}

.large {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.1em 2em;
}

.clr-accent {
    background-color: var(--clr-accent);
}

.clr-white {
    background-color: #fff;
    color: var(--clr-accent);
}

.no-bg {
    background: unset;
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align-last: left;
}